:root {
  --primary-color: #0030a6;
  --primary-text-color: #041793;
}
@font-face {
  font-family: GoogleSans;
  src: url("font/GoogleSans-Regular.otf") format("opentype");
}

@font-face {
  font-family: GoogleSans;
  font-weight: bold;
  src: url("font/GoogleSans-Bold.otf") format("opentype");
}

html,
body {
  height: 100%;
  scroll-behavior: smooth;
}

/* header */
.spacer {
  flex-grow: 1;
}

.navbar {
  position: fixed !important;
  top: 0;
  left: 0;
  right: 0;
  z-index: 999;
  background-image: url("../img/header/BG.png");
  background-size: cover;
  background-repeat: no-repeat;
  text-transform: uppercase;
}
.nav-item .nav-link {
  color: #fff !important;
}

/* body */
header,
main,
footer {
  font-family: "GoogleSans", sans-serif;
  font-size: 16px;
}
section {
  padding: 2.5rem 0 5rem 0;
}
.header-banner {
  margin-top: 20rem;
}

.header-section-title {
  text-align: center;
  width: 100%;
  font-size: 1.5rem;
  padding: 2.5rem 8px;
}
.header-section-title .upper-text {
  text-transform: uppercase;
  font-size: 2rem;
  font-weight: 800;
}
.btn-dangkyuudai {
  position: absolute;
  bottom: 20%;
  right: 15%;
}
.btn-dangkyuudai a {
  background-image: -webkit-linear-gradient(0deg, #dfa209 0%, #fad065 99%);
  border: 2px solid #fff;
  font-size: 1.25rem;
  letter-spacing: 1.5px;
}
.btn-dangkyuudai a span {
  text-transform: uppercase;
  font-weight: 800;
}

/* 1-uu dai */
#uu-dai {
  background-image: url("../img/body/1-uudai/BG.png");
  background-size: cover;
  background-repeat: no-repeat;
}

.card-uudai {
  box-shadow: 0 0.5rem 1.5rem rgba(0, 0, 0, 0.1);
  border-radius: 4px;
}

.card-uudai-text {
  bottom: 24px;
  left: 0;
}
.card-uudai-text > div {
  max-width: 60%;
}

.card1-circle {
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.075);
  box-shadow: 0 0.5rem 1.5rem rgba(0, 0, 0, 0.1);
  width: 13vw;
  height: 13vw;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #fff;
  margin: 0 auto;
  color: #000;
}
.card1-circle:hover {
  text-decoration: none;
}

.card1-thumbnail img {
  width: 80px;
}
.card1-title {
  margin-top: 1rem;
  padding-left: 2.5rem;
  padding-right: 2.5rem;
}

.so-luong-co-han {
  text-align: center;
  margin-top: 1rem;
  font-size: 1.1rem;
  color: var(--primary-color);
}

#btn-uudai,
#btn-tuvan,
#btn-chitiet {
  background-image: linear-gradient(
    to right,
    var(--primary-color) 0%,
    #4ba7fe 100%
  );
  padding: 8px 16px;
  font-size: 1rem;
}

.btn-action {
  border-radius: 36px !important;
  text-decoration: none;
  color: #fff;
  padding: 0.5rem 1.5rem;
  font-size: 0.9rem;
}
.btn-action:hover {
  text-decoration: none;
  color: #fff;
}

.modal {
  padding: 0 !important;
  text-align: center;
}

.modal .modal-dialog {
  max-width: 75vw !important;
  min-width: 65vw !important;
  margin: 0 auto;
}
.modal .modal-content {
  /* border: 0;
  border-radius: 0; */
  /* width: auto; */
  /* width: 100vw; */
}
.modal .modal-body img {
  /* overflow-y: auto; */
  width: 100%;
}
/* 2-the manh */

#the-manh {
  background-color: #edf7fe;
  /* padding-left: 3rem;
  padding-right: 3rem; */
}
.card-rect {
  border-radius: 16px;
  width: 100%;
  height: 100%;
  background-color: #fff;
}

.card-rect .card-avatar {
  position: relative;
}

.card-rect .card-avatar div img {
  height: 100%;
  width: 100%;
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
}

.card-rect .card-avatar .overlay {
  position: absolute;
  width: 100%;
  height: 0;
  background-color: rgba(0, 0, 0, 0.5);
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
  transition-property: all;
  transition-duration: 0.75s;
  transition-timing-function: cubic-bezier(0, 1, 0.5, 1);
  height: 100%;
}

.card-rect .card-avatar:hover .overlay {
  transition-property: all;
  transition-duration: 0.75s;
  transition-timing-function: cubic-bezier(0, 1, 0.5, 1);
  height: 0;
}
.card-rect .card-avatar .overlay:hover {
  transition-property: all;
  transition-duration: 0.75s;
  transition-timing-function: cubic-bezier(0, 1, 0.5, 1);
  height: 0;
}

.card-rect .card-avatar:hover .overlay .overlay-text,
.card-rect .card-avatar .overlay:hover .overlay-text {
  display: none;
}

.card-rect .card-avatar .overlay > div {
  opacity: 0.75;
  color: #ffffffb9;
  font-size: 3.5rem;
  font-weight: bold;
  font-family: "GoogleSans", sans-serif;
}

.card-rect .card-avatar .overlay .overlay-text {
  text-align: center;
  text-transform: uppercase;
}
.card-rect .card-body {
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.card-rect .card-body .card-header1 {
  font-size: 1.5rem;
  margin-bottom: 1rem;
}
.card-rect .card-body .card-header1 span {
  background-color: blue;
  color: #fff;
  padding: 0 5px 0 5px;
  margin-right: 5px;
}

/* 3-co hoi */
.card3-item {
}
.card3-avatar {
  text-align: center;
  margin-bottom: 3rem;
}
.card3-title {
  text-align: center;
  text-transform: uppercase;
  color: var(--primary-text-color);
  font-weight: 700;
  margin: 1rem 0;
}
.card3-description {
  text-align: justify;
}
.card3-link {
  margin-top: 0.5rem;
  text-align: center;
}
/* 4-tu van */
#tu-van {
  background-image: url("../img/body/4-tuvan/BG.png");
  padding: 2.5rem 0 !important;
}
.ban-can-tu-van {
  font-size: 1.5rem;
  font-weight: 700;
}

#btn-hotline {
  background-image: -webkit-linear-gradient(0deg, #dfa209 0%, #fad065 99%);
  border: 2px solid #fff;
}
/* 5-nganh dao tao */
#nganh-dao-tao {
  width: 100%;
}

#nganh-dao-tao a {
  color: #000;
}
#nganh-dao-tao a:hover {
  color: #000;
  text-decoration: none;
}
.nganh-item {
  width: 100%;
  border-radius: 16px;
  box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.1);
  padding: 1.5rem 0.75rem;
}

.nganh-logo {
}
.nganh-logo img {
  max-width: 80%;
  padding-bottom: 1rem;
  display: block;
  margin: 0 auto;
}
.nganh-title {
  text-align: center;
  font-size: 0.9rem;
  width: 100%;
  height: 1.4rem;

  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

/* 6-noi gi */
#noi-gi {
  background-image: url("../img/body/6-noigi/BG.png");
  background-size: cover;
  background-repeat: no-repeat;
}
.noi-gi-item:hover .noi-gi-des {
  text-decoration: none;
}

.noi-gi-des {
  color: #000;
}

.noi-gi-thumb img {
  max-width: 100%;
}
.noi-gi-body {
  text-align: center;
  margin-top: 1rem;
}
.noi-gi-title {
  color: var(--primary-text-color);
  text-transform: uppercase;
  font-size: 1.25rem;
  font-weight: 650;
  margin-bottom: 0.5rem;
}

/* 7-gioi thieu */
.gioi-thieu-text {
}
.gioi-thieu-header {
  font-size: 1.5rem;
  text-transform: uppercase;
  font-weight: 550;
  color: var(--primary-text-color);
  line-height: 2.5rem;
}
.gioi-thieu-header .mark {
  background-color: var(--primary-color);
  padding: 0 1rem;
  margin-right: 1rem;
}
.gioi-thieu-des {
  margin: 1rem 0 2rem 0;
}
/* 8-du hoc */
#du-hoc {
  background-color: #edf7fe;
}
.gallery {
  column-count: 3;
}
.gallery img {
  border-radius: 2px;
}
.bottom-text {
  position: absolute;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  width: 100%;
  font-size: 1rem;
  padding: 8px;
  color: #fff;
  text-align: justify;
}
/* footer */
footer a {
  color: #000;
}
footer a:hover {
  text-decoration: none;
}
.footer-brand {
  width: 100%;
  text-align: center;
}
.footer-brand img {
  width: 300px;
  height: auto;
}
.footer-map {
  margin-bottom: -7px;
}
.footer-map iframe {
  width: 100%;
  height: 33.334vh;
}
.footer-copyright {
  background-color: var(--primary-color);
  line-height: 2rem;
  text-align: center;
  color: #fff;
  padding: 8px 0;
}
